/.phpunit.cache
/node_modules
/public/admin
/public/build
/public/hot
/public/seller
/public/storage
/public/supplier
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
*.lock
*.log
/.fleet
/.idea
/.vscode
