/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
*.lock
*-lock.yaml
*.log
/.fleet
/.idea
/.vscode
auto-imports.d.ts
components.d.ts