body {
    background: #fafafa url('../img/login-bg.png');
}

.header {
    height: 60px;
    line-height: 60px;
    padding-left: 24px;
    border: none;
    /*background-color: #FFF;*/
    /*box-shadow: 0 2px 8px rgba(51, 51, 51, .08);*/
    z-index: 1;
    -webkit-font-smoothing: antialiased;
}

.logo {
    height: 32px;
}

.content {
    min-height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 580px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    border-radius: 4px;
    display: flex;
    position: relative;
}

.wrapper-left img {
    width: 488px;
    height: 580px;
}

.wrapper-right {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    flex: 1;
    width: 410px;
    justify-content: space-between;
}

.login-container {
    padding: 20px;
}

.login-other {
    text-align: center;
}

.login-other span {
    margin: 0 20px;
}

.login-other .layui-icon {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    top: 2px;
    font-size: 26px;
}

.signup-container {
    padding: 20px;
}

.signup-other {
    text-align: center;
}

.signup-other .layui-icon {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    top: 2px;
    font-size: 26px;
}

.switch {
    position: absolute !important;
    top: 0;
    right: 0;
}

.switch img {
    width: 100px;
}

.layui-tab .layui-tab-title li {
    font-size: 22px;
}

.layui-tab-content {
    padding-bottom: 0;
}
