@import 'base';

.header {
  position: relative;
  height: 35px;
  line-height: 35px;
  background: #f9f9f9;
  border-bottom: 1px solid #f2f2f2;
  font-size: $font-size;

  .shortcut {
    margin: 0 auto;
    width: $main-width;

    .welcome-user {
      a {
        padding: 0 10px;
        border-right: 1px solid lightgray;
      }

      a:first-child {
        padding-left: 0;
      }

      a:last-child {
        border-right: none;
      }
    }

    .links {
      ul {
        li {
          position: relative;
          float: left;

          a {
            padding: 0 10px;
            border-right: 1px solid lightgray;
          }

          ul {
            position: absolute;
            width: 180px;
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            overflow: hidden;
            z-index: 10;

            li {
              width: 50%;
              text-align: left;

              a {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
